* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
  background: #FFFBEE;
  color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

/* menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 251, 238, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 30rem;
  border-radius: 0 0 50px 50px;
  z-index: 1000;
  box-sizing: border-box;
}

.menu-left .logo img {
  height: 70px;
  width: auto;
}

.menu-center {
  display: flex;
  gap: 2rem;
}

.menu-center a {
  text-decoration: none;
  color: #141414;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
}

.menu-center a:hover,
.menu-center a:focus {
  border-bottom: 3px solid #fbac18;
  outline: none;
}

.menu-right {
  display: flex;
  gap: 1rem;
}

.menu-btn {
  background-color: #fbac18;
  color: #141414;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: 4px solid #141414;
}

.menu-btn:hover {
  filter: drop-shadow(0px 4px #141414);
}

/* lição */
main {
  max-width: 700px;
  width: 100%;
  padding: 50px 30px;
  border-radius: 40px;
}

.barra-progresso-container {
  max-width: 700px;
  width: 100%;
  height: 24px;
  background-color: #D9D9D9;
  border: 4px solid #141414;
  border-radius: 30px;
  overflow: hidden;
  position: fixed;
  top: 100px;
  right: 600px;
  z-index: 10;
  align-content: center;
  justify-content: center;
}

.barra-progresso {
  height: 100%;
  background-color: #409BFF;
  transition: width 0.4s ease;
  width: 0%;
  align-content: center;
  justify-content: center;
}

h1 {
  color: #141414;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: boldonse;
}

.frase {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.opcoes {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.opcoes .palavra {
  font-size: 1.3rem;
  background-color: #FFFBEE;
  border: 5px solid #141414;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
  user-select: none;
}

.palavra:hover {
  background-color: #BABABA;
  border-color: #141414;
}

.palavra.selecionada {
  border-color: #141414;
  background-color: #BABABA;
  box-shadow: 0 5px 0 #141414;
}

.palavra.certa {
  background-color: #07D346;
  border-color: #141414;
  box-shadow: 0 5px 0 #141414;
}

.palavra.errada {
  background-color: #FF4043;
  border-color: #141414;
  box-shadow: 0 5px 0 #141414;
}

.explicacao {
  font-size: 1.5rem;
  padding: 14px;
  margin-top: 10px;
  align-content: center;
  justify-content: center;
}

.botoes-controle {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.botao {
  background-color: #FFB031;
  border: none;
  padding: 14px 28px;
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border: 5px solid #141414;
  border-radius: 50px;
  cursor: pointer;
}

.botao:hover:not(:disabled) {
  filter: drop-shadow(0px 5px #141414);
}

.botao:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
