html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Boldonse", system-ui, sans-serif;
  background-color: #FFFBEE;
}

body.scrolled-to-bottom .footer {
  bottom: 0;
}

/* menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 251, 238, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 30rem;
  border-radius: 0 0 50px 50px;
  z-index: 1000;
  box-sizing: border-box;
}

.menu-left .logo img {
  height: 70px;
  width: auto;
  display: block;
}

.menu-center {
  display: flex;
  gap: 2rem;
}

.menu-center a {
  text-decoration: none;
  color: #141414;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
}

.menu-center a:hover,
.menu-center a:focus {
  border-bottom: 3px solid #fbac18;
  outline: none;
}

.menu-right {
  display: flex;
  gap: 1rem;
}

.menu-btn {
  background-color: #fbac18;
  color: #141414;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: 4px solid #141414;
}

.menu-btn:hover {
  filter: drop-shadow(0px 4px #141414);
}

/* seções da página */
.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

#page1 { background-color: #C96CFF; color: #FFFBEE; }
#page2 { background-color: #409BFF; color: #FFFBEE; }
#page3 { background-color: #F24C27; color: #FFFBEE; }
#page4 { background-color: #07D346; color: #FFFBEE; }

.landing {
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

.hero-container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.hero-left {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.hero-text {
  font-size: 2rem;
  line-height: 1.6;
  color: #FFFBEE;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
}

.btn,
.btn-login,
.btn-create-account {
  padding: 1.2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  border: 5px solid #141414;
  border-radius: 100px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #141414;
}

.btn-login {
  background-color: #FFFBEE;
}

.btn-login:hover {
  filter: drop-shadow(0px 10px #141414);
}

.btn-create-account {
  background-color: #FFB031;
}

.btn-create-account:hover {
  filter: drop-shadow(0px 10px #141414);
}

.hero-right {
  flex: 1;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right .image {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 300px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.image {
  width: 100%;
  max-width: 300px;
  height: 350px;
  border-radius: 12px;
}

/* footer */

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  border-radius: 50px 50px 0 0;
  background-color: #FFFBEE;
  color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.4s ease-in-out;
  z-index: 1000;
}

#footer.show {
  transform: translateY(0%);
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 90%;
  max-width: 800px;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbac18;
  border: 5px solid #141414;
  color: #141414;
  padding: 1rem 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  width: 150px;
  height: 30px;
  text-align: center;
  line-height: 1.2;
  text-decoration: none;
}

.footer-button:hover {
  filter: drop-shadow(0px 5px #141414);
}

.chamada-footer {
  font-size: 1.5rem;
  color: #141414;
}

/* login */

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 6rem;
  overflow-y: hidden;
}

.login-container {
  display: flex;
  width: 950px;
  max-width: 95%;
  border-radius: 20px;
  overflow: hidden;
  margin: 4rem auto;
}

.form-section {
  flex: 1.2;
  padding: 40px;
  text-align: left;
}

.form-section h2 {
  margin-bottom: 20px;
  font-size: 2.2rem;
  font-family: "Boldonse", system-ui;
  font-weight: 700;
  color: #141414;
}

.form-group {
  margin-bottom: 20px;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #141414;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-family: "Barlow", sans-serif;
}

button[type="submit"] {
  width: 425px;
  padding: 12px;
  background-color: #fbac18;
  color: #141414;
  border: 4px solid #141414;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  display: block;
  margin-top: 2rem;
}

button[type="submit"]:hover {
  filter: drop-shadow(0px 10px #141414);
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* escolha, nível e cadastro */

.escolha-buttons {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
  min-height: calc(100vh - 150px);
  padding-bottom: 100px;
}

.btn-escolha {
  width: 460px;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 100px;
  border: 5px solid #141414;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #141414;
  background-color: #409BFF;
}

.btn-escolha[disabled] {
  background-color: #BABABA;
  cursor: not-allowed;
}

.btn-escolha:hover {
  filter: drop-shadow(0px 10px #141414);
}

.escolha-texto {
  text-align: center;
}

.escolha-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-escolhas {
  color: #141414;
  text-align: center;
  padding: 1.5rem 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  border-top: 2px solid #141414;
}

/* páginas landing */

.page2 {
  height: 100vh;
  padding: 66px 20px;
}

.container {
  max-width: 1200px;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.text-block,
.image-block {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
}

.image-block img,
.image-block-page3 img {
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
  margin-left: 10px;
}

.titulo-pagina {
  padding-left: 35px;
  font-size: 2.5rem;
  color: #FFFBEE;
}

.paragrafo-pagina {
  padding-left: 50px;
  font-size: 1.5rem;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: #FFFBEE;
}

/* responsividade - hero/main */

@media (max-width: 1024px) {
  .menu {
    padding: 0.5rem 2rem;
  }

  .hero-text {
    font-size: 1.8rem;
  }

  .titulo-pagina {
    font-size: 2rem;
    padding-left: 20px;
  }

  .paragrafo-pagina {
    font-size: 1.2rem;
    padding-left: 20px;
  }

  .image-block img {
    max-width: 200px;

  }
}

@media (max-width: 768px) {
  .menu {
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem;
    border-radius: 0 0 30px 30px;
  }

  a.menu-btn{
    flex-direction: row;
    align-items:normal;
    justify-content: space-evenly;
  }

  .menu-left .logo img {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding-top: 13px;
  }

  .menu-right {

    justify-content: space-evenly;
    margin-top: 1rem;
  }

    .menu-left {
    margin-bottom: 1rem;
    justify-content: space-evenly;

  }

  .hero-container {
    flex-direction: column-reverse;
    gap: 0.01rem;
    justify-content: center;
  }

  .hero-text {
    font-size: 1.5rem;
    max-width: 500px;
    margin-bottom: 50px;
    margin: 2rem;
  }

.hero-right .image{
    max-width: 200px;
    margin-top: 200px;
  }

  
  .btn-login,
  .btn-create-account {
    font-size: 1rem;
    width: 200px;
    align-content: center;
    justify-content: center;
    margin: auto;
  }

  .container {
    flex-direction: column;
    margin-left: 0;
    padding: 1rem 1rem;
    gap: 2rem;
  }

  .titulo-pagina,
  .paragrafo-pagina {
    padding-bottom:10px;
  }

  .footer-content {
    padding: 1rem;
  }

  .footer-button {
    font-size: 1rem;
    width: 50%;
  }
}

@media (max-width: 480px) {
  .menu {
    padding: 1rem 1rem;
  }

  .hero-text {
    font-size: 1.3rem;
  }

  .btn-login,
  .btn-create-account {
    font-size: 1rem;
    padding: 1rem;
  }

  .titulo-pagina {
    font-size: 1.6rem;
  }

  .paragrafo-pagina {
    font-size: 1rem;
  }

  .image img {
    max-width: 250px;
  }

  .footer-button {
    font-size: 0.9rem;
    height: auto;
    padding: 0.8rem 1rem;
  }

  .chamada-footer {
    font-size: 1.2rem;
  }
}

/* responsividade - login */

@media (max-width: 1024px) {
  .login-container {
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    justify-content: center;
    align-items: center;
        overflow: hidden;
  }

  .form-section, .image-section {
    width: 300px;
    padding: 2rem;
    text-align: center;
    align-content: center;
  }

  button[type="submit"] {
    max-width: 325px;
  }
}

@media (max-width: 768px) {
  .login-wrapper {
    padding: 1rem;
  }

  .form-section h2 {
    font-size: 1rem;
  }

  input {
    font-size: 1rem;
    padding: 10px;
  }

  button[type="submit"] {
    font-size: 1.2rem;
    padding: 10px;
  }

  .image-section {
    padding: 1rem 0;
  }

  .image-section img {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .form-section {
    padding: 1rem;
  }

  .form-section h2 {
    font-size: 1.5rem;
  }

  .form-group {
    max-width: 100%;
  }

  label {
    font-size: 0.95rem;
  }

  input {
    padding: 8px;
    font-size: 1rem;
  }

  button[type="submit"] {
    font-size: 1rem;
    padding: 10px;
    width: 100%;
  }

  .image-section img {
    max-width: 100%;
  }
}

/* responsividade - escolha e níveis */

@media (max-width: 1024px) {
  .escolha-buttons {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
  }

  .btn-escolha {
    width: 100%;
    max-width: 400px;
    font-size: 1.3rem;
    padding: 1.2rem;
  }
}

@media (max-width: 768px) {
  .btn-escolha {
    font-size: 1.1rem;
    max-width: 300px;
    padding: 1rem;
  }

  .escolha-buttons {
    gap: 1rem;
  }

  .escolha-texto {
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  #footer-escolhas {
    font-size: 0.7rem;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .btn-escolha {
    font-size: 1rem;
    padding: 0.8rem;
    max-width: 100%;
    width: 90%;
  }

  .escolha-buttons {
    gap: 0.8rem;
    padding: 1rem;
  }

  .escolha-texto {
    font-size: 1rem;
  }

  #footer-escolhas {
    font-size: 0.85rem;
  }
}
